<h1>Welcome to BestBay!</h1>​
  <br>
  <br>
  <form id="search-form">
    <div>
      <table  style="width: 100%;">
        <tr>
          <td style="width: 70%;" >
            <input class="search" placeholder="Search..." type="text" />
            <button class="btn add-on" style="vertical-align: top;">
              <i class="icon-search"></i>
            </button>
          </td>
          <td style="width: 30%; vertical-align: top;">
            <%=  button_tag "Sell item", :type => 'button', :controller => "items", :action => "new", :class => "btn btn-warning sell-button" %>

            <!--<button class="btn btn-warning sell-button">-->
              <!--Sell item-->
            <!--</button>-->
          </td>
        </tr>
      </table>
    </div>
  </form>
<div>
  <div id="categories" class="row-fluid">
      <div class="well sidebar-nav white-bkg">
        <ul class="nav nav-list">
          <li class="nav-header ">Categories</li>
          <li>
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/electronics.jpeg") %>
                  <h4>Electronics</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/furniture.jpeg") %>
                  <h4>Furniture</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/fashion2.jpeg") %>
                  <h4>Fashion</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/kids.jpeg") %>
                  <h4>Kids</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
  </div>

  <div id="recently_added" class="row-fluid">
    <div class="">
      <div class="well sidebar-nav white-bkg">
        <ul class="nav nav-list">
          <li class="nav-header ">Recently added</li>
          <li>
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("temp/iphone5.jpeg") %>
                  <h4>iPhone 5 16GB</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("temp/handbag.jpeg") %>
                  <h4>Sarai Turquoise Handbag</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("temp/desk.jpeg") %>
                  <h4>Modern White Desk</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("temp/melissa&doug.jpeg") %>
                  <h4>Melissa & Doug Wooden Sandwich</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="ending_soon" class="row-fluid">
    <div class="">
      <div class="well sidebar-nav white-bkg">
        <ul class="nav nav-list">
          <li class="nav-header ">Ending soon</li>
          <li>
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("temp/sofa.jpeg") %>
                  <h4>Black Sofa</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("temp/ps3slim.png") %>
                  <h4>PS 3 Slim 160GB</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("temp/pradashoes.jpeg") %>
                  <h4>Prada Shoes</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("temp/leapfrog.jpeg") %>
                  <h4>LeapFrog</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>