<h1>Welcome#index</h1>

<div>
  <br>
  <form id="search-form">
    <div class="container-fluid search-bkg">
      <input class="input-search" placeholder="Search..." />
      <button class='btn add-on'>
        <i class="icon-search"></i>
      </button>
    </div>
  </form> ​
  <br>
  <br>
</div>

<div class="container-fluid">
  <div id="categories" class="row-fluid">
    <div class="">
      <div class="well sidebar-nav white-bkg">
        <ul class="nav nav-list">
          <li class="nav-header ">Categories</li>
          <li>
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/electronics.jpeg") %>
                  <h4>Electronics</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/furniture.jpeg") %>
                  <h4>Furniture</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/fashion2.jpeg") %>
                  <h4>Fashion</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/kids.jpeg") %>
                  <h4>Kids</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="categories" class="row-fluid">
    <div class="">
      <div class="well sidebar-nav white-bkg">
        <ul class="nav nav-list">
          <li class="nav-header ">Recently added</li>
          <li>
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/electronics.jpeg") %>
                  <h4>Electronics</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/furniture.jpeg") %>
                  <h4>Furniture</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/fashion2.jpeg") %>
                  <h4>Fashion</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/kids.jpeg") %>
                  <h4>Kids</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="categories" class="row-fluid">
    <div class="">
      <div class="well sidebar-nav white-bkg">
        <ul class="nav nav-list">
          <li class="nav-header ">Ending soon</li>
          <li>
            <ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/electronics.jpeg") %>
                  <h4>Electronics</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/furniture.jpeg") %>
                  <h4>Furniture</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/fashion2.jpeg") %>
                  <h4>Fashion</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail grey-bkg">
                  <%= image_tag("main_categories/kids.jpeg") %>
                  <h4>Kids</h4>
                  <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>