<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br><br>
  <div class="field">
    <%= f.label :display_title %>
    <%= f.text_field :display_title %>
  </div>
  <br>
  <div class="btn-group">   <!-- fix: we defined categories all in items controller -->
    Categories
    <br>
    <%= collection_select(:item, :category_id, @categories, :id, :title) %>
  </div>
  <br>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <br>
  <div class="field">
    <%= f.label :buy_price %>
    <%= f.text_field :buy_price %>
  </div>
  <br>
  <div class="field">
    <%= f.label :minimum_bid_price %>
    <%= f.text_field :minimum_bid_price %>
  </div>
  <br>
  <div class="field">
    <%= f.label :bid_duration %>
    <%= f.number_field :bid_duration %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit :class => "btn btn-primary"%>
  </div>
<% end %>
