<%= form_for @item, :html => {:multipart => true} do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <!--This message is displayed if there any errors saving items-->
      <% flash[:alert] = pluralize(@item.errors.count, "error") + " prohibited this item from being saved:"%>
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
       <li><%= msg  %> </li>
      <% end %>
      </ul>
    </div>
   <% end %>
    <!--Otherwise, display title and other fields as shown below-->
  <h1>New item</h1>
  <br><br>
  <div class="field">
    <%= f.label :display_title %>
    <%= f.text_field :display_title %>
  </div>
  <br>

  <div class="btn-group">   <!-- fix: we defined categories all in items controller -->
    Categories
    <br>
    <%= collection_select(:item, :category_id, @categories, :id, :title) %>
  </div>
  <br>

  <div class="field">
    <%= f.label :quantity %>
    <%= f.number_field :quantity %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <br>
  <div class="field">
    <%= f.label :buy_price %>
    <%= f.text_field :buy_price%>
  </div>
  <br>
  <div class="field">
    <%= f.label :minimum_bid_price %>
    <%= f.text_field :minimum_bid_price %>
  </div>
  <br>
  <div class="field">
    <%= f.label :bid_duration %>
    <%= f.number_field :bid_duration %>
  </div>
  <br>

  <div class="field">
    <h4>Upload Images</h4>
    <br>
    <%= f.fields_for :item_images do |asset_fields| %>
        <% if asset_fields.object.new_record? %>
            <p>
              <%= asset_fields.file_field :asset %>
            </p>
        <% else @image_exist = true %>
        <% end %>
    <% end %>
    <% if @image_exist %>
      <h4>Current Images</h4>
      <br>
    <% end %>
    <%= f.fields_for :item_images do |asset_fields| %>
        <% unless asset_fields.object.new_record? %>
            <div class="thumb">
              <%= link_to image_tag(asset_fields.object.asset.url(:thumb)), asset_fields.object.asset.url(:original) %>
              <%= asset_fields.check_box :_destroy %>
            </div>
            <br>
        <% end %>
    <% end %>
  </div>
  <br>


  <div class="actions">
    <%= f.submit :class => "btn btn-primary"%>
  </div>
<% end %>

