<%provide("Search Results")%>
<h1 xmlns="http://www.w3.org/1999/html">Search Results</h1>
<br>
<br>

<div id="Results" class="row-fluid">
  <div class="well sidebar-nav white-bkg">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Items</th>
        <th>Minimum Bid</th>
        <th>Bid Duration</th>
        <th>Buy it Now</th>
      </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
          <tr>
            <td>
                <ul class="thumbnails">
                  <li class="span6">
                    <div class="thumbnail grey-bkg">
                      <%= link_to image_tag(item.item_images.first.asset.url(:original)), {:action => "show", :id => item.id} %>
                      <h4><%= item.title %></h4>
                    </div>
                  </li>
                </ul>
            </td>
            <td>$<%= item.minimum_bid_price %></td>
            <td><%= distance_of_time_in_words_to_now(item.created_at + item.bid_duration.to_i.days) %></td>
                <td style="width: 10%; vertical-align: top;">
                  <% if item.buy_price > 0   %>
                     $<%= item.buy_price %>
                <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>


<br>
<!--<div id="Results" class="row-fluid">-->
<!--<div class="">-->
<!--<div class="well sidebar-nav white-bkg">-->
<!--<ul class="nav nav-list">-->
<!--<li>-->
<!--<ul class="thumbnails">-->
<!--<li class="span3">-->
<!--<div class="thumbnail grey-bkg">-->
<!--<= image_tag("items/"+item.id.to_s+".jpeg") %>-->
<!--<h4><= item.title %></h4>-->
<!--</div>-->
<!--</li>-->
<!--<table  style="width: 10%;">-->
<!--<tr>-->
<!--<h3>Bid Duration</h3>-->
<!--<= item.bid_duration %>-->
<!--<tr>-->
<!--<td style="width: 10%; vertical-align: top;">-->
<!--<= form_tag({:controller => "items", :action => "new"}, :class => "simple") do %>-->
<!--<button class="btn buy-now-button">Buy Now</button>-->
<!--< end %>-->
<!--</td>-->
<!--</tr>-->
<!--</tr>-->
<!--</table>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
