<p id="notice"><%= notice %></p>


<table>
  <tr>
    <td>
      <ul class="thumbnails">
        <li class="span6">
          <div class="thumbnail grey-bkg">
            <%=  image_tag("items/"+@item.id.to_s+".jpeg") %>
          </div>
        </li>
      </ul>
    </td>
    <td style="width: 10%; vertical-align: top;">
      <% if @item.buy_price > 0   %>
          <%= form_tag({:controller => "items", :action => "new"}, :class => "simple") do %>
              <button class="btn buy-now-button">Buy Now</button>
          <% end %>
      <% end %>
    </td>

    <td>
      <h2><%= @item.display_title %></h2>
      <div class="well well-large">
        <strong>Minimum Bid:</strong> $<%= @item.minimum_bid_price %>
        <br>
        <strong>Current Bid:</strong> $<%= @item.current_bid %>
        <br>
        Bidding ends in <%= distance_of_time_in_words_to_now(@item.created_at + @item.bid_duration.to_i.days) %>!
      </div>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        <b>Category:</b>
        <%= @item.category_id %>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        <b>Quantity:</b>
        <%= @item.quantity %>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        <b>Description:</b>

      <p></pre><%= @item.description %></p>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        <b>Buy price:</b>
        <%= @item.buy_price %>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        <b>Minimum bid price:</b>
        <%= @item.minimum_bid_price %>
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        <b>Bid duration:</b>
        <%= @item.bid_duration %>
      </p>
    </td>
  </tr>
</table>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
