<h1>Listing categories</h1>
<br><br>
<table class="table table-striped">
  <tr>
    <!--Creates a header for the table-->
    <th><h4>Title</h4></th>
    <th><h4>Description</h4></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <!--For each category, display an image, title, description and associated Show, Edit, Destroy actions-->
<% @categories.each do |category| %>
  <tr>
    <td>
      <ul class="thumbnails categories_thumb">
        <li class="span12">
          <%= link_to image_tag("categories/"+category.id.to_s+".jpeg"), {:controller => "items", :action => "search", :category_id => category.id.to_s}, :class => "thumbnail" %>
        </li>
      </ul>
    </td>
    <td>
      <h4><%= category.title %></h4>
      <p class="content-text">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
    </td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>



</table>

<br />

<%= link_to 'New Category', new_category_path %>
