<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>BestBay | <%= @page_title %></title>
  <meta name="author" content="Bob the builders">
  <%= stylesheet_link_tag("main", :media => 'all') %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- HEADER -->
<!--Using the Bootstrap navbar class-->
<div class="navbar navbar-inner navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">BestBay</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
          <!--Display sign-in and sign-out links with styling using Devise gem for session management-->
        <% if user_signed_in? %>
            Signed in as <%= current_user.email %>. Not You?
              <!--TODO: Add {:style=>'color:#FFFFFF;'} to "Sign Out"-->
            <%= link_to "Sign Out", destroy_user_session_path,:method =>:delete %>
        <% else %>
            <%= link_to "Sign Up", new_user_registration_path, {:style=>'color:#FFFFFF;'} %> or <%= link_to "Sign In", new_user_session_path, {:style=>'color:#FFFFFF;'} %>
        <% end %>
        </p>
        <!--
        <p class="navbar-text pull-right">
          Logged in as <a href="#" class="navbar-link">Andres Ramirez</a>
        </p>  -->

        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- BODY -->
<div class="container">
  <div id="main" class="row-fluid">
    <div class="span12">
      <div id="content" class="hero-unit">
        <%= yield %>
        <!--Display notices in body using flash-->
        <% if !flash[:notice].blank? %>
            <div class="alert alert-success">
              <!--p class="text-success"-->
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <%= flash[:notice] %>
              <!--/p-->
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div id="footer" class="container">
  <%= debug(params) if Rails.env.development? %>
  <p id="copyright">&copy; Bob the builders - MS Software Management @ CMU SV</p>
</div>
</body>
</html>
